.errorBox {
    width: auto;
    margin: 0 0 0 1.25rem;
    color: red;
}

.errormessage {
    text-align: center;
    position: fixed;
    margin-left: 35%;
    margin-top: 15%;
    color: #d8c5c5;
}
img.bg {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 100%;
    z-index: -1;
}


