.selectedStep {
    color: red
}
.stepcntnr {
    height:10%;
}
.steps {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    margin:auto .5rem;
}
.steptext {
    font-size: .8571rem;
    color: #9CABC0;
    text-align: center;
    flex-basis:100%;
}
.line {
    width: 25%;
    border: .5px solid #9CABC0;
    display: inline-block;
    margin-bottom: 5px;
}
.stepper {
    flex-direction: row;
    display: block;
    text-align: center;
    margin: 1rem .5rem .5rem .5rem;
}
.stepper div.fa.fa-circle, .stepper div.fa.fa-circle-o {
    margin-right:0;
}
    
.stepper i.fa {
        margin: 5px 0 0 0;
        color: #9cabc0;
    }
.stepper i.fa.fa-circle.complete{
    margin: 5px 0 0 0;
    color: #9cabc0;
    opacity:0.5;
}

form.group {
    margin: 1rem auto;
    width:75%;
    padding-top:1rem;
    overflow:auto;
    margin-bottom:1em;
}
table.group, table.customers {
    border-collapse: collapse;
    border: 1px solid #eee;
    height:100%;
}
.assigngroup {
    overflow-y: auto;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height:75%;
}
.assigncust {
    overflow-y: auto;
    overflow-x:auto;
    width: 46%;
    display: inline-flex;
    margin-bottom: 1rem;
}
table.group td, table.customers td {
        border: 1px solid #ddd;
        padding: 5px;
        border-left:0;
        border-right:0;
        background-color:#fff;
    }
table.group th, table.customers th {
    text-align:left;
    font-weight:normal;
    font-size:.7857rem;
    padding:.5rem;
}
.customerselect {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%;
    -ms-flex-direction: column;
    flex-direction: row;
    height: 50%;
    overflow-y: auto;
    overflow-x:hidden;
    position: absolute;
    /* bottom: 0; */
    margin-top: 20%;
    margin-left: 1.5rem;
    top: 0;
}
.columnselect {
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 1.5rem auto;
    width: 100%;
    -ms-flex-direction: column;
    flex-direction: row;
    /* height: 50%; */
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
div.columnselect {
    margin-top:1rem;
}
.selector {
    flex-direction:column;
    display:inline-flex;
    width:8%;
    vertical-align:top;
    margin-top:10%;
}
form.customers {
        margin: 1rem auto;
        width: 75%;
        padding-top: 1rem;
    }
table.customers th {
    text-align:left !important;
    white-space:nowrap;
}
table.customers tr {
   vertical-align:text-top !important;
   cursor: default;
}


table.customers td {
    padding: 5px !important;
    font-size:.7857rem;
}

table.customers tr.highlighted td {
    background-color: #8497B0 !important;
    color: #fff; 
}

table.customers tr.nonfintechhighlighted td {
    background-color: #8497B0 !important;
    color: #880015; 
}

.customers div.row {
    width: 100%;
}
.customers div, input.cust {
    display: inline-flex !important;
    flex-basis:100%;
}
table.customers th input.cust {
    width: 1rem !important;
    text-align: center !important;
}
.unassigncust input[type=checkbox], input[type="checkbox" i] {
    width: auto !important;
    display: inline-block;
}
.customerinputs {
    width: 100%;
    margin: .65rem auto;
    display: flex;
    justify-content: space-between;
    padding-left:5%;
}
div.fsearch input.customer {
    margin:auto 0;
    width:100%;
}

.customerinputs div.fsearch{
    margin:auto 0;
    width:45%;
}
.unassigncust {
    display:inline-block;
    width:45%;
    margin:auto;
}
div.customers div.row div {
    display: inline !important;
}
input.cust {
    background-color: #fff !important;
    padding: 10px !important;
    margin: 0 !important;
}
.ninety {
    display:inline;
    width:90%;
}
.ten {
    height:10%;
}
.mcontentcntnr {
    display: flex;
    flex-direction: column;
    position:relative;
    bottom:0;
    flex-basis:95%;
    overflow-y:auto;
    overflow-x:hidden;
}

.modalbtn {
    box-shadow: none !important;
    border-radius: 6px !important;
    padding: .40rem .65rem !important;
    background-color: #F5F7FA !important;
    color: rgb(25, 116, 206) !important;
    border: 1px solid rgb(25, 116, 206) !important;
    display: inline-flex;
    white-space:nowrap;
}
.modalbtn:hover {
   cursor:pointer;
}
.mrow {
    flex: 1; 
    display: flex;
}
.mheader {
    width: 44%;
    display: inline-block;
    font-size: .9285rem;
    text-transform: uppercase;
    color: #144376;
    margin-left: 5%;
    margin-bottom: .3571rem;
}
.mheader div.mheader {
    margin-left: 0 !important;
}
input.customer {
    margin-top:0; 
}
table.customers {
    width:100%;
    height:100%;
}
form.group table th {
   padding:.5rem;
}
form.group table td {
    border-top: 1px solid #f6f6f6;
}
form.table table input {
    margin: 0;
    padding:0;
}
.custcount {
    margin:1rem;
    font-style:italic;
}
.a {
    font-weight: bold;
}
i.fa.fa-chevron-right.fa-md, i.fa.fa-chevron-left.fa-md {
    margin: .25rem auto;
    padding: .25rem;
    border: .5px solid;
    border-radius: 0.3rem;
    width:auto;
}
i.fa.fa-chevron-right.fa-md:hover, i.fa.fa-chevron-left.fa-md:hover {
    color: white;
    background-color: rgb(54, 128, 202);
}
i.fa.fa-sort-down:hover, i.fa.fa-sort-up:hover {
    color: #5b9bd5;
}
.noattr {
    display:flex;
    justify-content:center;
    margin-top:15%;
    font-size:1.125em;
    font-style:italic;
}
.nolabel {
    display: inline-flex;
    width: auto;
    align-items:center;
}
div.half.nolabel div.field, div.half.nolabel div.field label.mlabel {
    display: inline-flex !important;
    width: auto !important;
    align-items: center;
}

.thirty {
    width: 33% !important;
    margin-right:.65em;
}
.twenty {
    width: 15% !important;
    margin-right: .65em;
}
.rsched {
    width:24%;
    margin-right:.5em;
}
.rschedhalf {
    width:50%;
    display:inline-flex;
}
.rschedhalf div.field {
    width:50%;
    display:flex;
}

div.nolabel button.btn {
    align-self:center;
}
.btn.btnSecondary.remove {
    display:none;
}
input, .minput, .mselect, .mtextarea, .mselect {
    font-size:14px;
}


