.loader{
    height: 50px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
    fill: #FF6700;
}